body {
  padding: 50px;
  padding-top:20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEF0EB;
}

a {
  color: #00B7FF;
}

/** NAVIGATION **/

.navbar-img{
  height: 50px;
}

.navbar-brand{
  margin-left:10px !important;
  font-family: 'Lato', sans-serif;
}

.navbar-default {
    background-color: #AACADC;
    border-color: #AACADC;
}

/** FORECAST **/

.icon{
  max-height: 160px;
  height:160px;
  margin: 20px;
  margin-left: 0px;
}

.flag{
  float:left;
  max-height: 70px;
  margin:10px;
  margin-left:0;
}

.location-title{
  margin:30px;
  margin-left:10px;
  vertical-align: middle;
  display: inline-block;
}

.location-header-seperator{
  border-bottom: 1px #333;
}

.grey-text{
  color: #CCCCCC;
}

.inline{
  display: inline-block;
}

.time-header{
  color: #222;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top:15px;
  border-bottom: 1px solid #555;
}

.meta{
  color: #777;
  font-size: 15px;
  padding-top:8px;
}

.data{
  color: #222;
  font-size: 16px;
}
