body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/** NAVIGATION **/

.navbar-img{
  height: 50px;
}

.navbar-brand{
  margin-left:10px !important;
}

.navbar-default {
    background-color: #AACADC;
    border-color: #435C84;
}

/** FORECAST **/

.icon{
  max-height: 160px;
  height:160px;
  margin: 20px;
  margin-left: 0px;
}

.flag{
  float:left;
  max-height: 70px;
  margin:10px;
  margin-left:0;
}

.location-title{
  margin:30px;
  margin-left:10px;
  vertical-align: middle;
  display: inline-block;
}

.location-header-seperator{
  border-bottom: 1px #333;
}

.grey-text{
  color: #DDDDDD;
}
